{%extends 'leave_management_app/base.html'%}
{%block title%}Add Employee{%endblock title%}
{%load crispy_forms_tags%}
{%block content%}
<div class="row p-4" style="height: 95vh; width: 100%; background-color: white; background-attachment: fixed;">
    {%block navbar%}
        {%include 'navigation/sidenav.html'%}
    {%endblock navbar%}


	<div class="col-lg-8 mt-3 ml-5 shadow-lg content-align-center">
		 <div class="py-5 text-center"><label class="text-info h4">Manage Leave</label></div>
		  <div class="container-fluid">
			  <div class="row shadow-lg justify-content-center">
				  <div class="col-md-6">
					<form method="POST">
						{% csrf_token %}
						<fieldset class="from-group">
							<legend class="border-bottom mb-4 text-center">Update Employee</legend>
							{{form|crispy}}
						</fieldset>
						<div class="from-group">
							<button class="btn btn-outline-info mt-2" type="submit">Update</button>
						</div>
					</form>
				  </div>
			  </div>
		  </div>
	</div>
</div>
{%endblock content%}