{%extends 'leave_management_app/base.html'%}
{%block title%}Employees List{%endblock title%}

    {%block content%}
<div class="row p-4" style="height: 95vh; width: 100%; background-color: white; background-attachment: fixed;">
        {%block navbar%}
            {%include 'navigation/sidenav.html'%}
        {%endblock navbar%}

    <div class="col-lg-8 mt-3 ml-5 shadow-lg">
        <div class="py-5 text-center"><label class="text-info h4">Employee List</label></div>

            <div class="row ml-3">
        <div class="col-md-10 p-2 shadow-lg">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">P.no</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">email</th>
                  <th scope="col">department</th>
                   <th scope="col">category</th>
                    <th scope="col">manage</th>
                  <!--<th scope="col">Job Title</th>-->
                </tr>
              </thead>
              <tbody>
              {%for employee in employees %}
                <tr>
                  <td><a href="#">{{employee.emp_personal_no}}</a></td>
                  <td>{{employee.employee_firstname}}</td>
                  <td>{{employee.employee_lastname}}</td>
                  <td>{{employee.employee_email}}</td>
                  <td>{{employee.employee_department_id}}</td>
                  <td>{{employee.employee_category }}</td>
                  <td><a class="" href="{%url 'employee_detail' employee.emp_personal_no%}">view</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
                        {% if is_paginated%}

                {%if page_obj.has_previous%}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4" href="{{page_obj.previous_page_number}}">Previous</a>
                {%endif%}

                {%for num in page_obj.paginator.page_range%}

                    {%if page_obj.number == num%}
                        <a class="btn btn-info mb-4" href="?page= {{ num }}">{{num}}</a>

                    {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                        <a class="btn btn-outline-info mb-4" href="?page= {{ num }}">{{num}}</a>
                    {%endif%}

                {%endfor%}

                {%if page_obj.has_next%}
                    <a class="btn btn-outline-info mb-4" href="?page= {{page_obj.next_page_number}}">Next</a>
                    <a class="btn btn-outline-info mb-4" href="?page= {{page_obj.paginator.num_pages}}">Last</a>
                {%endif%}

            {%endif%}

        </div>
    </div>

    </div>
</div>
    {%endblock content%}